{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft.AspNetCore": "Warning"
    }
  },
  "AllowedHosts": "*",
  "ConnectionStrings": {
    "DefaultConnection": "Host=${DB_HOST:localhost};Port=${DB_PORT:5432};Database=${DB_NAME:umihealth};Username=${DB_USER:postgres};Password=${DB_PASSWORD}"
  },
  "Jwt": {
    "Key": "${JWT_SECRET}",
    "Issuer": "${JWT_ISSUER:UmiHealth}",
    "Audience": "${JWT_AUDIENCE:UmiHealthUsers}"
  }
}
